html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before,*:after{
    box-sizing: border-box;
}

body{
	font-family: "微軟正黑體";
}

.wrap{
	width: 1002px;
	margin: 0 auto;
}

.header{
	display: flex;
	justify-content: flex-end;
	background: #f6f6f6;
}

.header ul{
	display: flex;
	margin-top: 3px;
	margin-bottom: 3px;
}

.header li{
	margin-right: 5px;
	margin-left: 5px;
}

.header a{
	display: flex;
	align-items: center;
	font-size: 14px;
	text-decoration: none;
	padding-right: 3px;
	padding-left: 3px;
}

.header a:hover{
	font-weight: bolder;
}

.header img{
	padding-right: 5px;
}

.header-facebook a{
	color: #3843dd;
}

.header-twitter::before{
	float: left;
	content: "";
	width: 1px;
	height: 10px;
	background: rgb(119, 119, 119);
	margin-top: 3px;
	margin-right: 10px;
}

.header-twitter a{
	color: #1ea8ca;
}

.topMenu{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.topMenu-logo{
	display: block;
	width: 187px;
	height: 51px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(https://upload.cc/i1/2020/10/21/2eYwNd.png);
}

.topMenu ul{
	display: flex;
}

.topMenu li{
	padding-right: 13px;
	padding-left: 15px;
}

.topMenu li a{
	display: block;
	font-size: 17px;
	font-weight:bold;
	color: #42d3a9;
	text-decoration: none;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 3px solid #fff;
}

.topMenu li a:hover{
	border-bottom: 3px solid #42d3a9;
}

.banner{
	width: 1002px;
	height: 346px;
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/banner.png);
	position: relative;
}

.banner-text{
	width: 100%;
	height: 161px;
	background: rgba( 0 , 0 , 0, .2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 95px;
}
.banner-text h2{
	font-size: 30px;
	font-weight: bold;
	line-height: 1.4;
	color: #fff;
	padding-left: 20px;
}

.intro{
	margin-bottom: 65px;
}

.intro-list{
	display: flex;
	justify-content: space-around;
	margin-top: 60px;
}

.intro-list li{
	box-shadow: 0px 5px 10px rgb(104, 104, 104);
	border-radius: 5px;
}

.html{
	width: 301px;
	text-align: center;
	border: 3px solid rgb(161, 161, 161);
	border-top: 0px;
	border-style: double;
}

.rwd{
	width: 301px;
	text-align: center;
	border: 3px solid rgb(161, 161, 161);
	border-top: 0px;
	border-style: double;
}

.jquery{
	width: 301px;
	text-align: center;
	border: 3px solid rgb(161, 161, 161);
	border-top: 0px;
	border-style: double;
}


.html img{
	margin-top: 25px;
}

.rwd img{
	margin-top: 40px;
	margin-bottom: 36px;
}

.jquery img{
	margin-top: 34px;
	margin-bottom: 13px;
}

.intro-list h2{
	font-size: 16.5px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.intro-list p{
	font-size: 15px;
	text-align: justify;
	text-justify: distribute;
	line-height: 1.5;
	padding-left: 18px;
	padding-right: 18px;
	margin-bottom: 18px;
}

.jquery h2{
	margin-bottom: 13px;
}

.jquery h3{
	font-size: 15px;	
	text-align: left;
	margin-left: 18px;
	margin-bottom: 5px;
}

.jquery ul{
	font-size: 15px;	
	text-align: left;
	margin-left: 18px;
}

.jquery li{
	list-style: disc;
	line-height: 1.5;
	margin-left: 18px;
	box-shadow: none;
}

.comparison h2{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 28px;
}

.comparison table{
	font-size: 15px;
	margin-left: 80px;
	margin-bottom: 60px;
}

.table-header{
	background: #f7f7f7;
	font-weight: bold;
	text-align: left;
}

.comparison tr{
	border-top: 1px solid rgb(190, 190, 190);
	border-bottom: 1px solid rgb(190, 190, 190);
}

.comparison th, td{
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 20px;
}

.column-item{
	width: 190px;
}

.column-hex{
	width: 260px;
}

.column-online{
	width: 265px;
}

.column-offline{
	width: 160px;
}

.green{
	font-weight: bold;
	color: #42d3a9;
}

.contact{
	background: linear-gradient(#00654a, #009972);
	padding-top: 35px;
	padding-bottom: 30px;
}

.contact-headline{
	display: flex;
	flex-direction: column;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
}

.contact-headline h3{
	margin-bottom: 10px;
}

.contact-form{
	display: flex;
}

#comment{
	width: 460px;
	height: 245px;
	border-radius: 5px;
	margin-right: 40px;
	margin-left: 20px;
	padding-top: 5px;
	padding-left: 5px;
	border: none;
}

.contact-form ul{
	position: relative;
	padding-top: 5px;
}

.contact-form li{
	color: #fff;
}

.contact-form span{
	margin-bottom: 5px;
}

.contact-form li input{
	display: block;
	width: 460px;
	font-size: 14px;
	border-radius: 4px;
	margin-bottom: 10px;
	border: none;
	padding-left: 10px;
	padding-top: 9px;
	padding-bottom: 9px;
		
}

.btn{
	width: 70px;
	height: 34px;
	color: #fff;
	font-size: 17px;
	background: #00cc98;
	position: absolute;
	right: 0px;
	margin-top: 10px;
	border-radius: 3px;
	border: none;
}

.btn:hover{
	cursor: pointer;
	color: #00cc98;
	background: #fff;
	transition: 0.3s linear all;
}

.footer{
	display: flex;
	justify-content: space-between;
	padding-top: 22px;
	padding-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-logo{
	width: 171px;
	height: 36px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/footerLogo.png);
}

.footer-logo a{
	display: block;
	width: 171px;
	height: 36px;
}

.footer li{
	font-size: 14px;
	line-height: 1.5;
}

.footer a{
	text-decoration: none;
	color: #f12e89
}

.footer a:hover{
	color: #2d6bdf;
}
